mixin news-preview-form(link, id, title, date)
	div.gallery-album-main-container
		a.gallery-album-container(href='/news?NewsId=#{id}')
			if (album.link != null)
				img.gallery-album-image(src= link)
			else
				img.gallery-album-image(src= "/img/lost-page.png")
			div.gallery-album-title.gallery-album-description-container#title_post= title
			if album.creatingDate != null
				div.gallery-album-date.gallery-album-description-container#post_date= date