.one-page-slider-header img{
	/*height: 340px;*/
	width: 100%;
}

.content{
	overflow: hidden;
	padding-bottom: 10px;
}
.main-info{
	padding: 8px;
	float: left;
	width: 80%;
}

.all-news{
	float: left;
	width: 20%;
	background: #DBDBDB;
	/*height: 20%;*/
}
.news{
	/*float: left;*/
	padding: 5px;
	height: 20%;
}

footer{
	/*padding-top: 5px;*/
	background: #319bba;
	overflow: hidden;
}

.social-net{
	/*padding-top: 20px;*/
	margin-left: 10px;
	padding: 3px;
	float: left;
	width: 15%;
}

.copyright{
	padding-left: 190px;
	padding-top: 10px;
	float: left;
	width: 40%;
}
.slider-footer{
	max-width:100%;
}
.one-page-slider{
	overflow: hidden;
}

.one-page-slider-img{
	float: left;
	width: 22%;
	padding: 0 5%;
	padding-bottom: 15px;
}


.info-about-faculty{
	padding-left: 235px;
	padding-top: 10px;
	float: left;
	width: 44%
}