.example2 {
    /*display:inline-block;   */
    position:relative;
 
}
.example2 span {
    display:inline-block;
    position:absolute;
    top:240px;   
    left:0px;
     
    /* Оформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* Фон */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}



.one-page-slider-header img{
	/*height: 340px;*/
	width: 100%;
}

.content{
	overflow: hidden;
	/*padding-bottom: 10px;*/
}
.main-info{
	padding: 8px;
	float: left;
	width: 80%;
}

.all-news{
	float: left;
	width: 20%;
	background: #DBDBDB;
	/*height: 20%;*/
}
.news{
	/*float: left;*/
	padding: 5px;
	overflow: hidden;
	border: 1px solid #bababa;
}

footer{
	/*padding-top: 5px;*/
	background: #319bba;
	overflow: hidden;
}

.social-net{
	/*padding-top: 20px;*/
	/*margin-left: 10px;*/
	padding-top: 5px;
	float: left;
	width: 15%;
}

.copyright{
	padding-left: 5%;
	padding-top: 1%;
	float: left;
	width: 40%;
}
.slider-footer{
	max-width:100%;
}
.one-page-slider{
	padding-left: 130px;
	overflow: hidden;
}

.one-page-slider-img{
	float: left;
	width: 22%;
	padding: 0 5%;
	padding-bottom: 15px;
}


.info-about-faculty{
	padding-left: 13%;
	padding-top: 1%;
	float: left;
	width: 44%
}