/*Text on slider(image)*/
.background-text-on-slider{
	width: 100%;
	height: 340px;
	background-color: #545353;
	/*,,\\opacity: 0.2;*/

}
.text-on-slider{
	font-size: 20px;
	padding-top: 280px;
	padding-left: 15px;
	color: white;
	height: 92px;
	background-color:rgba(0,0,0,.2);
  font-weight: bolder;
}
/*ПЕРЕОПРЕДЕЛЕННЫе(Дополненный классы) КЛАССы. Выравнивание кнопок на header i.godyaev*/
.fotorama__nav{
  font-size: 0;
  line-height: 0;
  text-align: center;
  /*display: none;*/
  white-space: nowrap;
  z-index: 5;
  position: absolute;
  bottom: 7px;
}

.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 50%;
  border: 1px solid white;
}