mixin gallery-page-fill(image)
	a(href= "/img/gallery-page-gallery-photo/bigi/#{image.link}", rel='iLoad|Альбом', title= image.title)  
		img(src= "/img/gallery-page-gallery-photo/mini/#{image.link}")