mixin gallery-page-albums(cover, title, date)
	div.media-body.news-preview-general-form
		a(href='/photo-from-albums.jade')
			img.media-object.news-preview-image.center(src= cover)
		div.center
			h4.media-header.news-preview-general-form#title_post= title
			if date != null
				h5.media-text.news-full-text#post_date= date
			else
				h5.media-text.news-full-text#post_date so.me.date