mixin gallery-page-fill(image, album)
	a(href= "/img/gallery-page-gallery-photo/bigi/#{image.link}", rel='iLoad|#{}', title= image.title)  
		img(src= "/img/gallery-page-gallery-photo/mini/#{image.link}")