mixin gallery-page-albums(album)
	a.gallery-album-container(href='/photo-from-albums?albumId=#{album.id}')
		img.gallery-album-image(src= "/img/gallery-page-gallery-photo/mini/#{album.link}")
		div.gallery-album-description-container
			div.gallery-album-title#title_post= album.title
			if album.creatingDate != null
				div.gallery-album-date#post_date= album.creatingDate