.admin-instruments-content-redact-forms-container{
    overflow:hidden;
    right:0px;
    top:50px;
    width: 10%;
    position: fixed;
    text-align: right;
    opacity: 0.65;
}

.admin-instruments-content-redact-forms {
    width:100%;
    height:30px;
}