
.contacts_tabs{
  font-size: 16px;
  line-height: 1.5em;
  font-family: OpenSans-Light;
  
}
.head{
  line-height: 1.1em;
  font-size: 35px;
  margin-bottom: 20px;
}
.staff{
  font-size: 20px;
  color: #4d60bd;
  margin-bottom: 10px;
  margin-top: 10px;
}
.bold{
  font-weight:bold;
  float:left;
  padding-right: 7px;
 
}
.2bold{
  margin-bottom: 5px;
}
.bold_text{
  font-weight:bold;
}
.name{
  padding-left: 10px;

}
.maps{
  margin-top: 15px;
}

.article_text{
  
  width: 69%;
  float:left;
  padding-left: 2%;

 
  
}
.article_img{
  
  float:left;
  margin-top: 31px;
}
.article_img2{
  
  float:left;
  margin-top: 0px;
}
.article{
  height: 345px;
}
.paragraph{
  
}
.link{
  color: #4d60bd;
}