
.contacts_tabs{
  font-size: 14px;
  line-height: 2em;

  
}
.head{
  font-size: 35px;
}
.staff{
  font-size: 20px;
  color: #4d60bd;
}
.bold{
  font-weight:bold;
  float:left;
  padding-right: 7px;
}
.name{
  padding-left: 10px;
}