.reviews-container {
	
	width: auto;
	height: auto;
	padding-top: 25px;
	text-align: center;
	display: inline-block;
	
}
.history-container {
	border: 1px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	float: left;
	width: 30%;
	height: 400px;
	margin: 15px 15px 15px 15px;
	
}

.history_left {
	width: 30%;
	float: left;
}

.history_right {
	width: 30%;
	float: right;
}

.history_center {
	width: 30%;
	float: none;
	
}

.citation_style{
	font-size: medium;
	
}

.href{
	color: black;
	text-decoration: underline;
	
}
.href:hover{
	
    color: blue; /* Цвет ссылки */ 
}