.gallery-container {
	height: 100%;
}

.gallery-album-container {
	height: 300px;
	width: 200px;
	max-height: 30%;
	max-width: 30%;
	margin: 5px;
	text-align: center;
	text-decoration: none;
	float: left;
	background-color: #efefef;
}

.gallery-album-container:hover {
	text-decoration: none;
}

.gallery-album-image-container {
	height: 60%;
	width: 100%;
}

.gallery-album-image {
	max-height: 100%;
	max-width: 100%;
}

.gallery-album-description-container {
	max-height: 20%;
	width: 100%;
}

.gallery-album-title {
	font-size: 18px;
}

.gallery-album-date {
	font-size: 16px;
}