.center {
    margin: auto;
    padding: 1%;
    text-align: center;
}

@media (min-width: 1190px){
    .container {
        width: 1120px;
        margin: 0px auto;
    }
}
@media (max-width: 1190px) and (min-width: 820px){
    .container {
        width: 768px;
        margin: 0px auto;
    }
}

@media (max-width: 820px){
    .container {
        width: 400px;
        margin: 0px auto;
    }
}
.news-preview-general-form {
    max-height: 400px;
    width: 200px;
    vertical-align: middle;
    overflow: hidden;

}
.news-preview-general-form img{
    width: 200px;
    max-height:200px;
    margin: 10px;
}

.news-full-image{
    max-width: 400px;
    max-height: 250px;
}
.news-full-image-container{
    width: 400px;
    height: 250px;
    float: left;
    margin: 10px;
}
.news-full-text{
    text-align: left;
}

.main-page-info-block{
    margin: 10px;
    overflow: hidden;
    font-family: sans-serif;
}
.main-page-info-container{
    float: left;
    width: 30%;
}

