.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.news-preview-general-form {
    max-height: 400px;
    width: 200px;
    vertical-align: center;
}
.news-preview-general-form img{
    width: 200px;
    max-height:200px;
    margin: 10px;
}

.news-full-image{
    max-width: 400px;
    max-height: 250px;
}
.news-full-image-container{
    width: 400px;
    height: 250px;
    float: left;
    margin: 10px;
}
.news-full-text{
    text-align: left;
}

.first-tag{
    margin-top: 60px;
}

.main-page-info-block{
    height: 70px;
    margin: 10px;
}
.main-page-info-container{
    float: left;
    width: 30%;
}
.navbar-header-brand{
    margin: 0px;
    height: 50px;
}

.rightMenu {
    position:relative;
    float:right;
}
.right-caret {

    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 1;
    width: 0;

}