.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.news-preview-general-form {
    max-height: 400px;
    width: 200px;
}
.news-preview-general-form img{
    width: 200px;
    max-height:200px;
    margin: 10px;
}

.news-full-image{
    max-width: 400px;
    max-height: 250px;
}
.news-full-image-container{
    width: 400px;
    height: 250px;
    float: left;
    margin: 10px;

}
.news-full-text{
    text-align: left;
}

.first-tag{
    margin-top: 60px;
}
