@font-face {
    font-family: "Open Sans Light";
    src: url(/fonts/OpenSans-Light.ttf);
}

.header {
	position: fixed;
	width: 100%;
	overflow: hidden;
    height: 45px;
    background-color: #319bba;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Open Sans Light";
    color: #ffffff;
    vertical-align: middle;
    top: 0px;
    line-height: 1;
}

.header-element {
    margin: 0px 10px;
    float: left;
    height: 100%;
	outline: none;
}

.header-element-text {
	padding-top: 13px;
	padding-bottom: 14px;
	color: #ffffff;
	outline: none;
}

.header-element-text:hover{
	text-decoration: none;
	color: #ffffff;
	padding-top: 13px;
	padding-bottom: 10px;
	border-bottom: 4px solid #52c5de;
	outline: none;
}

.header-element-text:active  {
	outline: none;
}

.header-element-logo{
	margin-left: 25px;
}

.header-dropdown-list {
	position: absolute;
	list-style: none;
	width: 180px;
}

.header-element-text:hover .header-dropdown-list {
	display: block;
}

.header-element-text .header-dropdown-list {
	display: none;
}
