@font-face {
    font-family: "Open Sans Light";
    src: url(/fonts/OpenSans-Light.ttf);
}

.header {
	position: absolute;
	width: 100%;
    background-color: #ffffff;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif;
    color: #000000;
    line-height: 1;
    z-index: 2;
}

.header-element {
	position: relative;
    float: left;
    height: 100%;
	outline: none;
	display: inherit;
	z-index: 3;
}

.header-logo {
	margin: 19px 20px 18px 20px;
}

.header-element-text {
    padding: 0px 40px;
	padding-top: 23px;
	padding-bottom: 22px;
	color: #000000;
	outline: none;
	display: auto;
	font-weight: 400;
	cursor: pointer;
}

.header-element-text:hover{
	text-decoration: none;
	color: #ffffff;
	background-color: #4d60bd;
	outline: none;
}

.header-element-text:active{
	text-decoration: none;
	color: #ffffff;
	background-color: #4d60bd;
	outline: none;
}


.header-dropdown-container {
	position: absolute;
	display: none;
	background-color: #ffffff;
	list-style: none;
	overflow: inherit;
	padding: 0px;
	margin-top: 21px;
	left: 0;
	right: 0;
}


.header-dropdown-element {
	float: none;
	font-size: inherit;
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 10px 20px;
	border-top: 1px solid #adadad;
}

.header-element:hover .header-dropdown-container{
	display: block;
}
.header-element:active .header-dropdown-container{
	display: block;
}