@font-face {
    font-family: "Open Sans Light";
    src: url(/fonts/OpenSans-Light.ttf);
}

.header {
	position: fixed;
	width: 100%;
	overflow: hidden;
    height: contain;
    background-color: #319bba;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Open Sans Light";
    color: #ffffff;
    top: 0px;
    line-height: 1;
}

.header-element {
    margin: 0px 10px;
    float: left;
    height: 100%;
	outline: none;
	display: inherit;
	overflow: hidden;
}

.header-element-text {
	padding-top: 13px;
	padding-bottom: 14px;
	color: #ffffff;
	outline: none;
	display: inherit;
}

.header-element-text:hover{
	text-decoration: none;
	color: #ffffff;
	padding-bottom: 10px;
	border-bottom: 4px solid #52c5de;
	outline: none;
}

.header-element-text:active {
	outline: none;
}

.header-element-logo{
	margin-left: 25px;
}

.header-dropdown-container {
	position: fixed;
	display: none;
	background-color: #319bba;
	list-style: none;
	overflow: inherit;
	padding: 0px;
}


.header-dropdown-element {
	float: none;
	font-size: -4px;
	width: 150px;
}

.header-element:hover .header-dropdown-container{
	display: block;
}