.navigation-simple-element{
	float: left;
	padding: 2px;
	font-size: 16px;
	text-decoration: none;
	color: green;
	outline: none;

}

.navigation-simple-text{
	float: left;
	font-size: 16px;
	padding: 2px;
	text-decoration: none;
}

.navigation-num{
}
.navigation-current{
	color: black;
	text-decoration: underline;
}

.navigation-simple-element:hover{
	text-decoration: underline;
	color: green;
	cursor: pointer;
}

.navigation-current:hover{
	color:black;
	cursor: default;
}

.navigation-content-pages{
	width:contain;
}