h1.center Прикладная математика и информатика
text.
	Формы обучения: очная	ul4 года.
	Программа направлена на подготовку специалистов, обладающих глубокими теоретическими знаниями в области информационных технологий и математических методов и владеющих практическими навыками решения прикладных задач.
table.enrollee-tab-container
	tr
		td.enrollee-tab-element
			h3.center Экзамены (ЕГЭ):
			ul.enrollee-list-container.center
				li математика
				li информатика
				li русский язык
		td.center Документы, регламентирующие приём на бакалавриат
h3 Выпускники готовы решать следующие профессиональные задачи:
ul
	li применение наукоемких технологий и пакетов программ для решения прикладных
	li задач в области физики, химии, биологии, экономики, медицины, экологии;
	li исследование и разработка математических моделей, алгоритмов, методов, программного обеспечения, инструментальных средств по тематике проводимых научно-исследовательских проектов;
	li исследование автоматизированных систем и средств обработки информации, средств администрирования и методов управления безопасностью компьютерных сетей;
	li разработка программного и информационного обеспечения компьютерных сетей, автоматизированных систем вычислительных комплексов, сервисов, операционных систем и распределенных баз данных;
	li разработка и исследование алгоритмов, вычислительных моделей и моделей данных для реализации элементов новых (или известных) сервисов систем информационных технологий;
	li разработка архитектуры, алгоритмических и программных решений системного и прикладного программного обеспечения;
h3 Выпускники работают:
ul
	li администраторами и аналитиками баз данных,
	li инженерами,
	li консультантами,
	li логистами,
	li научными сотрудниками,
	li программистами,
	li разработчиками приложений,
	li сетевыми администраторами,
	li системными аналитиками,
	li специалистами по тестированию и верификации программного обеспечения, и др.
h3 Профильные предметы:
ol
	li Дифференциальные уравнения
	li Теория вероятностей и математическая статистика
	li Теория игр и исследование операций
	li Теория алгоритмов и сложности вычислений
	li Языки и методы программирования
	li Архитектура электронно-вычислительных машин, сети и ассемблеры
	li Базы данных
table.enrollee-tab-container
	tr
		td.enrollee-tab-element
			h3.center Специальные дисциплины, профиль «Прикладная математика»:
			ul.enrollee-list-container.center
				li Методы вычислений
				li Теоретическая механика
				li Уравнения математической физики
				li Физика
		td.enrollee-tab-element
			h3.center Специальные дисциплины, профиль «Программирование и информационные технологии»:
			ul.enrollee-list-container.center
				li Web-программирование
				li Сети и системы телекоммуникаций
				li Методы трансляции
				li Операционные системы
				li Теория кодирования
				li Технологии разработки программного обеспечения