h1.center Прикладная математика и информатика
table.enrollee-tab-container
	tr
		td.enrollee-tab-element
			h3.center Программы:
			ul.enrollee-list-container.center
				li Исследование операций и системный анализ 
				li Математическое моделирование
				li Программирование и информационные технологии
		td.enrollee-tab-element
			h3.center Экзамен:
			ul.enrollee-list-container.center
				li Прикладная математика и информатика (собеседование)
p Имеется 20 бюджетных мест для подготовки магистров
a Документы регламентирующие прием в магистратуру 
div.enrollee-element 
	h3 Магистр по направлению подготовки «Прикладная математика и информатика» готов решать следующие профессиональные задачи:
	ul
		li применение наукоемких технологий и пакетов программ для решения прикладных задач в области физики химии биологии экономики медицины экологии;
		li исследование и разработка математических моделей алгоритмов методов программного обеспечения инструментальных средств по тематике проводимых научно-исследовательских проектов;
		li исследование автоматизированных систем и средств обработки информации средств администрирования и методов управления безопасностью компьютерных сетей;
		li разработка программного и информационного обеспечения компьютерных сетей автоматизированных систем вычислительных комплексов сервисов операционных систем и распределенных баз данных;
		li разработка и исследование алгоритмов вычислительных моделей и моделей данных для реализации элементов новых (или известных) сервисов систем информационных технологий;
		li разработка архитектуры алгоритмических и программных решений системного и прикладного программного обеспечения;
		li управление проектами планирование производственных процессов и ресурсов анализ рисков управление командой проекта.
div.enrollee-element 
	h3 Магистры по направлению «Прикладная математика и информатика» работают:
	ul
		li администраторами и аналитиками баз данных
		li инженерами
		li логистами
		li научными сотрудниками
		li преподавателями
		li программистами
		li разработчиками приложений
		li сетевыми администраторами
		li системными аналитиками
		li специалистами в сфере систем управления предприятием
		li экспертами и др.
div.enrollee-element 
	h2 Учебный план
div.enrollee-element 
	h3 Общие дисциплины: 
	ul
		li Современные проблемы прикладной математики и информатики 
		li История и методология математики и информатики 
		li Иностранный язык 
		li Современная философия и методология науки 
		li Технологии интернет 
		li Криптография 
		li Математические основы теории систем 
		li Распознавание образов 
		li Менеджмент
		li Информационные технологии управления
div.enrollee-element 
	h3 Специальные дисциплины программы «Исследование операций и системный анализ»:
	ul
		li Целочисленное программирование
		li Некооперативные игры
		li Кооперативные игры
		li Календарное планирование
		li Задачи оптимального размещения
		li Эволюционные алгоритмы
		li Математические модели риска
		li Математические модели экономики
		li Методы прикладной статистики
		li Параллельное программирование 
		li Интеллектуальные системы
div.enrollee-element 
	h3 Специальные дисциплины программы «Математическое моделирование»:
	ul
		li Прикладная гидроаэромеханика, 
		li Вычислительный эксперимент в математической физике, 
		li Математические модели биологических сообществ, 
		li Многомерные статистические методы и временные ряды, 
		li Метод Монте-Карло в задачах математической физики, 
		li Численные методы решения задач с пограничным слоем, 
		li Математические модели риска, 
		li Математические модели экономики, 
		li Методы прикладной статистики,
		li Параллельное программирование, 
		li Интеллектуальные системы.
div.enrollee-element 
	h3 Специальные дисциплины программы «Программирование и информационные технологии»:
	ul
		li Операционные системы, 
		li Хранение и обработка данных, 
		li Технологии программирования,
		li Технологии разработки программного обеспечения, 
		li Языки и методы программирования.