link(href="/css/tabs.css")
script(src='http://code.jquery.com/jquery-2.1.4.min.js')
script(src='/js/tabs.js')
script.
	$(document).ready(function(){
	$("#tabs").lightTabs();
	});
mixin add-tabs(content)
	div.tabs
		ul.tab-container.tab-container-titles
			each tmp in content
				li.tab-title
					p.tab-title-date.tab-title-text= tmp.creatingDate
					p.tab-title-title.tab-title-text= tmp.title
					p.tab-title-content.tab-title-text= tmp.miniContent
		div.tab-container.tab-container-content
			each tmp in content
				div.tab-content!= tmp.description