link(rel='stylesheet', href='/css/main-page/main-page.css')
div.footer
	div.copyright
		p(style='color:#ffffff') 2015 © ИМИТ ОмГУ им. Ф.М. Достоевского
	div.social-net
		a(href='https://www.youtube.com/user/IMITOmsk')
			img(src='/img/logo/yt.png')
		a(href='http://imit_omsu.livejournal.com/')
			img(src='/img/logo/lj.png')
		a(href='http://vk.com/imit_omsu')
			img(src='/img/logo/vk.png')
	div.info-about-faculty
		.info-about-faculty-line
			img(src='/img/logo/map.png')
		.info-about-faculty-line
			p(style='color:#ffffff')   Пр.Мира 55а
		br
		.info-img-and-text
			.info-about-faculty-line
				img(src='/img/logo/phone.png')
			.info-about-faculty-line
				p   64-42-38, 22-56-96
