link(rel='stylesheet', href='/css/header.css', type='text/css', media='screen')
header.header
	div.header-container
		a.header-element(href="/main")
			img.header-element.header-element-logo(src="img/logo-imit.png")
		a.header-element.header-element-text(href="/main") ГЛАВНАЯ
		a.header-element.header-element-text(href="/news") НОВОСТИ
		a.header-element.header-element-text(href="/#") ПОСТУПАЮЩИМ
			ul.dropdown-list
				li one
				li two
		a.header-element.header-element-text(href="/main") СТРУКТУРА ИМИТ
		a.header-element.header-element-text(href="/gallery") ГАЛЕРЕЯ
		a.header-element.header-element-text(href="/main") ПАРТНЕРЫ
		a.header-element.header-element-text(href="/contacts") КОНТАКТЫ