div.header
	a.header-element(href="/main")
		img.header-logo(src="img/logo-imit.png")
	div.header-element.header-element-text= 'О факультете'
		ul.header-dropdown-container
			li
				a.header-element.header-element-text.header-dropdown-element(href="/graduates") Выпускники
			li
				a.header-element.header-element-text.header-dropdown-element(href="/structure-imit") Структура
			li
				a.header-element.header-element-text.header-dropdown-element(href="/partners") Партнеры
	div.header-element.header-element-text= 'Поступающим'
		ul.header-dropdown-container
			li
				a.header-element.header-element-text.header-dropdown-element(href="/enrollee") Абитуриенту
			li
				a.header-element.header-element-text.header-dropdown-element(href="/undergraduate") Магистранту
			li
				a.header-element.header-element-text.header-dropdown-element(href="/applicants") Аспиранту
	div.header-element.header-element-text= 'Студентам'
		ul.header-dropdown-container
			li
				a.header-element.header-element-text.header-dropdown-element(href="/news") Новости
			li
				a.header-element.header-element-text.header-dropdown-element(href="/gallery") Галерея

	a.header-element.header-element-text(href="/#") Расписание
	a.header-element.header-element-text(href="/contacts") Контакты