nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container
        div.navbar-header
            a(href="./").navbar-header-brand
                img(src="/img/imit-logo.png").navbar-header-brand
        ul.nav.navbar-nav
            li(type="presentation")
                a(href="/main") Главная
            li.dropdown
                a(href="#",data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false").dropdown-toggle Новости
                    span.caret
                ul.dropdown-menu
                    li 
                        a(href="/news?NewsType=All-news") Все
                    li 
                        a(href="/news?NewsType=Learn-news") Учебные
                    li 
                        a(href="/news?NewsType=Social-news") Внеучебные новости
            li.dropdown(type="presentation")
                a(href="#",data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false").dropdown-toggle Поступающим
                    span.caret
                ul.dropdown-menu
                    li 
                        a(href="/applicants") Абитуриент
                    li 
                        a(href="/applicants") Магистранту
                    li 
                        a(href="/applicants") Аспиранту
                    li 
                        a(href="/applicants") FAQ

            li(type="presentation")
                a(href="/gallery") Галерея
            li(type="presentation")
                a(href="/contacts") Контакты