link(rel='stylesheet', href='/css/header.css', type='text/css', media='screen')
div.header
	div
		a.header-element(href="/main")
			img.header-element.header-element-logo(src="img/logo-imit.png")
		a.header-element.header-element-text(href="/main") ГЛАВНАЯ
		div.header-element.header-element-text= '☰ НОВОСТИ'
			ul.header-dropdown-container
				li
					a.header-element.header-element-text.header-dropdown-element(href="/news?NewsType=All-news") Все
				li
					a.header-element.header-element-text.header-dropdown-element(href="/news?NewsType=Learn-news") Учебные
				li
					a.header-element.header-element-text.header-dropdown-element(href="/news?NewsType=Social-news") Внеучебные
		div.header-element.header-element-text= '☰ ПОСТУПАЮЩИМ'
			ul.header-dropdown-container
				li
					a.header-element.header-element-text.header-dropdown-element(href="/enrollee") АБИТУРИЕНТУ
				li
					a.header-element.header-element-text.header-dropdown-element(href="/master") МАГИСТРАНТУ
				li
					a.header-element.header-element-text.header-dropdown-element(href="/applicants") АСПИРАНТУ
		a.header-element.header-element-text(href="/structure-imit") СТРУКТУРА ИМИТ
		a.header-element.header-element-text(href="/gallery") ГАЛЕРЕЯ
		a.header-element.header-element-text(href="/partners") ПАРТНЕРЫ
		a.header-element.header-element-text(href="/contacts") КОНТАКТЫ