link(rel='stylesheet', href='/css/header.css', type='text/css', media='screen')
header.header
	div.header-container
		a.header-element(href="/main")
			img.header-element.header-element-logo(src="img/logo-imit.png")
		a.header-element.header-element-text(href="/main") ГЛАВНАЯ
		a.header-element.header-element-text НОВОСТИ
		a.header-element.header-element-text ПОСТУПАЮЩИМ
		a.header-element.header-element-text СТРУКТУРА ИМИТ
		a.header-element.header-element-text ГАЛЕРЕЯ
		a.header-element.header-element-text ПАРТНЕРЫ
		a.header-element.header-element-text КОНТАКТЫ