nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container
        ul.nav.navbar-nav
            li(type="presentation", aria-label="Left Align")
                a(href="./")
                    span.glyphicon.glyphicon-globe
            li(type="presentation")
                a(href="/main") Главная
            li(type="presentation")
                a(href="/news") Новости
            li(type="presentation")
                a(href="/applicants") Поступающим
            li(type="presentation")
                a(href="/gallery") Галерея
            li(type="presentation")
                a(href="/contacts") Контакты