a(href='#{link}')
	div.media-body.news-preview-general-form
		img.media-object.news-preview-image.center(src='/news?NewsId-#{num}')
		div.center
			h4.media-header.news-preview-general-form#title_post Это название какой-то новости факультета
			h5.media-text.news-preview-general-form#post_text #{num}.07.2015