mixin redact-content(canCreate, createType, canRedact, canDelete, redactId, deleteId)
	if (canCreate)
		a(href="/edit_content?create=true&createType=#{createType}") add
	if (canRedact && redactId > 0)
		a(href="/edit_content?redact=true&redactId=#{redactId}") change
	if (canDelete)
		a(href="/edit_content?delete=true&deleteId=#{deleteId}") delete
