mixin redact-content(canCreate, createType, canRedact, canDelete, redactId, deleteId)
	if (canCreate)
		form(action="/edit_content", method="post")
			input(type="submit", value="Создать")
	if (canRedact && redactId > 0)
		form(action="/edit_content", method="post")
			input(style='display: none;', readonly='readonly', name="redactId", value="#{redactId}")
			input(style='display: none;', readonly='readonly', name="redact", value="true")
			input(type="submit", value="Редактировать")
	if (canDelete)
		form(action="/edit_content", method="post")
			input(style='display: none;', readonly='readonly', name="deleteId", value="#{deleteId}")
			input(style='display: none;', readonly='readonly', name="delete", value="true")
			input(type="submit", value="Удалить")