mixin redact-content(canCreate, createType, canRedact, canDelete, redactId, deleteId)
	link(rel='stylesheet', href='/css/admin-instruments.css', type='text/css', media='screen')
	div.admin-instruments-content-redact-forms-container
		if (canCreate)
			form.admin-instruments-content-redact-forms(action="/edit_content", method="post")
				input(style='display: none;', readonly='readonly', name="createType", value="#{createType}")
				input(style='display: none;', readonly='readonly', name="create", value="true")
				input(type="submit", value="Создать")
		if (canRedact && redactId > 0)
			form.admin-instruments-content-redact-forms(action="/edit_content", method="post")
				input(style='display: none;', readonly='readonly', name="redactId", value="#{redactId}")
				input(style='display: none;', readonly='readonly', name="redact", value="true")
				input(type="submit", value="Редактировать")
		if (canDelete)
			form.admin-instruments-content-redact-forms(action="/edit_content", method="post")
				input(style='display: none;', readonly='readonly', name="deleteId", value="#{deleteId}")
				input(style='display: none;', readonly='readonly', name="delete", value="true")
				input(type="submit", value="Удалить")
		a(href="/hidden_content") Скрытые записи