mixin enrollee-page-add-reviews(content)
	div.graduate-container
		div.graduate-header
			h3= content.title
			p= content.miniContent
		div.center
			img.graduate-image(src= content.imageLink)
		h4.graduate-citate!= content.description