link(rel='stylesheet', href='/css/admin-instruments.css', type='text/css', media='screen')
div.admin-instruments-content-redact-forms-container
	form.admin-instruments-content-redact-forms(action="/edit_content", method="post")
		input(style='display: none;', readonly='readonly', name="createType", value="#{type}")
		input(style='display: none;', readonly='readonly', name="create", value="true")
		input.admin-instruments-content-redact-forms(type="submit", value="Создать")
	form.admin-instruments-content-redact-forms(action="/edit_content", method="post")
		input.admin-redact(style='display: none;', readonly='readonly', name="redactId", value="")
		input(style='display: none;', readonly='readonly', name="redact", value="true")
		input.admin-instruments-content-redact-forms(type="submit", value="Редактировать")
	form.admin-instruments-content-redact-forms(action="/edit_content", method="post")
		input.admin-delete(style='display: none;', readonly='readonly', name="deleteId", value="")
		input(style='display: none;', readonly='readonly', name="delete", value="true")
		input(style='display: none;', readonly='readonly', name="deleteType", value="#{type}")
		input.admin-instruments-content-redact-forms(type="submit", value="Удалить")
	form.admin-instruments-content-redact-forms(action="/hidden_content", method="get")
		input.admin-instruments-content-redact-forms(type="submit", value="Скрытые записи") 
	form.admin-instruments-content-redact-forms(action="/visible_content", method="get")
		input.admin-instruments-content-redact-forms(type="submit", value="Все записи") 