link(rel='stylesheet', href='/css/main-page/slider-under-header.css')
link(rel='stylesheet', href='/css/main-page/main-page.css')
div.info-about-slider
	p Наши выпускники о факультете  
	a(href='/graduates') Читать все истории
.fotorama(data-width='100%', data-height='100px', data-loop='true',
	data-arrows='true', data-click='false', data-nav='false')
	div.one-page-reviews-slider(style='overflow:hidden;')
		.one-page-reviews-slider-img(style='float:left; padding-left:8%;')
			img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='100px', alt='Сергей Корсаков')
		.one-page-reviews-slider-text(style='float:left; width:73%;  padding-left: 1%;')
			h3(style='margin-top:5px; font-size:20px;') Сергей Корcаков
			p(style='margin-top:5px; font-size:13px;') "Яндекс", Москва, менеджер проектов в отделе контент-системы
			p(style='margin-top:11px') «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»»

	div.one-page-reviews-slider(style='overflow:hidden;')
		.one-page-reviews-slider-img(style='float:left; padding-left:8%;')
			img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='100px', alt='Сергей Корсаков')
		.one-page-reviews-slider-text(style='float:left; width:73%;  padding-left: 1%;')
			h3(style='margin-top:5px; font-size:20px;') Сергей Корcаков
			p(style='margin-top:5px; font-size:13px;') "Яндекс", Москва, менеджер проектов в отделе контент-системы
			p(style='margin-top:11px') «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»
	div.one-page-reviews-slider(style='overflow:hidden;')
		.one-page-reviews-slider-img(style='float:left; padding-left:8%;')
			img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='100px', alt='Сергей Корсаков')
		.one-page-reviews-slider-text(style='float:left; width:73%;  padding-left: 1%;')
			h3(style='margin-top:5px; font-size:20px;') Сергей Корcаков
			p(style='margin-top:5px; font-size:13px;') "Яндекс", Москва, менеджер проектов в отделе контент-системы
			p(style='margin-top:11px') «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»