doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel='stylesheet', href='/css/bootstrap.css', type='text/css', media='screen')
	script(src='/js/bootstrap.js')
	title Админ
	include general-includes.jade
body
	include forms/header.jade
	div.container
		div(th:if='${param.error}', style="color:green;")
			|You are not authorised. May be should you to enter correct login and password?
		if (logout)
			div(th:if='${param.logout}')
				|You have been logged out.
		form(th:action='@{/admin}', method='post')
			div
				label
					input(type='text', name='username', placeholder='Логин')
			div
				label
					input(type='password', name='password', placeholder='Пароль')
			div
				input(type='submit', value='Войти')