doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Контакты - ОмГУ
		include general-includes.jade
	body
		include forms/header.jade
		.container
			p Директор ИМИТ: Латыпов Ильяс Абдульхаевич
			p Секретарь: Жилова Юлия Валерьевна
			p Дирекция (Деканат) находится по адресу: г. Омск, пр. Мира 55 (первый корпус ОмГУ), каб. 217
			p Телефоны: (3812) 64-42-38, (3812) 22-56-96
			p Часы работы деканата: с 9.00 до 17.00 (кроме субботы и воскресенья)
			iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1143.4235449171454!2d73.26190885165582!3d55.02837212133563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1436347022558', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
		//include forms/lost.jade