doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Контакты - ОмГУ
		link(rel='stylesheet', href='/css/contacts-page.css')
		link(rel='stylesheet', href='/css/main-page/main-page.css')
		include general-includes.jade
		link(href='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css', rel='stylesheet')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js')

	body
		include forms/header.jade
		include forms/sliders/slider-under-header.jade
		include forms/content-slider.jade
		div.tabs
			div.tab-container.tab-container-titles
				+add-title-simple-part("Институт Математики и Информационных Технологий")
				+add-title-simple-part("Приёмная комиссия ОмГУ им. Ф. М. Достоевского")
				+add-title-simple-part("Профориентационная школа ИМИТ")
				+add-title-simple-part("Школа Гуманитарных и точных наук ОЦ 'Перспектива'")
				+add-title-simple-part("Центр довузовской подготовки и профориентации")
			div.tab-container.tab-container-content	
				- content1 = "<div class='contacts_tabs'><p class=head>Институт Математики и Информационных Технологий</p><p class='staff'>Сотрудники:</P><p class='bold'>И. О. Директора ИМИТ - </p><p class='name'>Латыпов Ильяс Абдульхаевич </p><p class='bold'>Заместитель директора по учебной работе - </p><p class='name'>Кукина Екатерина Георгиевна</p><p class='bold'>Заместитель директора по работе с абитуриентами - </p><p class='name'>Пичугина Анна Николаевна</p><p class='bold'>Заместитель директора по производственной работе - </p><p class='name'>Еремеев Леонид Геннадьевич</p><p class='bold'>Cекретарь - </p><p class='name'>Жилова Юлия Валерьевна</p><p class='staff'>Дирекция(Деканат) находится по адресу: </p><p>г. Омск, пр. Мира, д. 55, первый корпус ОмГУ, каб. 217</p><p class='staff'>Телефоны: </p><p>(3812)64-48-32, (3812)22-56-96</p><p class='staff'>Часы работы деканата: </p><p>с 9:00 до 17:00 (кроме субботы и воскресенья)</p><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2286.8474105978426!2d73.2619536!3d55.0283665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTXCsDAxJzQyLjEiTiA3M8KwMTUnNDMuMCJF!5e0!3m2!1sru!2sru!4v1437373917903', width='99%', height='450', frameborder='0', style='border:0', allowfullscreen=''></iframe></div>"
				+add-content-part(content1)
				- content2 ="<div class='contacts_tabs'><p class=head>Приёмная комиссия ОмГУ им Ф. М. Достоевского</p><p class='staff'> Адрес: </p><p> г. Омск, пр. Мира 55, второй корпус ОмГУ, каб.119</p><p class='staff'>Телефон: </p><p>(3812)22-97-72</p><p class='staff'> Часы работы: </p><p> с 9.00 до 17.00(кроме субботы и воскресенья); обед 12:30 - 13:00</p><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1923.0206290515075!2d73.26555496578854!3d55.02797387621102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTXCsDAxJzQwLjciTiA3M8KwMTUnNTQuNCJF!5e0!3m2!1sru!2sru!4v1439890001822' width='99%' height='450' frameborder='0' style='border:0' allowfullscreen></iframe></div>"
				+add-content-part(content2)
				- content3 = "<div class='contacts_tabs'><p class=head>Профориентационная школа Института Математики и Информационных технологий</p>Профориентационная школа Института Математики и Информационных технологий, она же четверговая математическая школа (ЧМШ), для ребят 6-11 классов по направлениям Математика и Информатика. чебный год состоит из двух семестров и длится с октября по май. Обучение платное. Организационное собрание проводится в сентябре. Занятия начинаются с 1 октября. анятия в старших классах проводят преподаватели ОмГУ. Учебные программы уделяют особое внимание Единому государственному экзамену (11 класс) и Государственной итоговой аттестации (9 класс). ополнительную информацию можно узнать тут: Вконтакте Сайт ОмГУ Записаться в Четверговую математическую школу можно по адресу: Мира, 55а, 1 корпус ОмГУ, ауд. 128 или по телефонам: 22-56-96, 26-97-73, 8-913-966-7651.</div>"
				+add-content-part(content3)
				- content4 = "<div>Подготовительные курсы для учеников младших и старших классов. Подробная информация о подготовительных курсах на сайте ОЦ 'Перспектива'.</div>"
				+add-content-part(content4)
				- content5 = "<div>Ведется набор слушателей на подготовительные курсы для учащихся 9, 10 и 11 классов по подготовке к профильным предметам, а так же ГИА и ЕГЭ. Занятия проводят опытные преподаватели ОмГУ. Подробная информация о подготовительных курсах на сайте Центра довузовской подготовки и профориентации. Записаться можно по адресу: пр. Мира 55, 2 корпус ОмГУ, павильон ЦДПП ОмГУ. Телефоны для справок: 26-97-99, 26-97-65</div>"
				+add-content-part(content5)
		include forms/footer.jade