doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Контакты - ОмГУ
		include general-includes.jade
	body
		include forms/header.jade
		div.container.center
			p(align='left')
				Директор ИМИТ - Латыпов Ильяс Абдульхаевич
				br
				Секретарь - Жилова Юлия Валерьевна
				br
				Деканат находится по адресу: г.Омск, пр.Мира 55, каб. 217
				br
				Телефоны: (3812) 64-42-38, (3812) 22-56-96
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2286.8474105978426!2d73.2619536!3d55.0283665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTXCsDAxJzQyLjEiTiA3M8KwMTUnNDMuMCJF!5e0!3m2!1sru!2sru!4v1437373917903', width='99%', height='450', frameborder='0', style='border:0', allowfullscreen='')