doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Редактирование альбома
	include general-includes.jade
	include forms/edit-album.jade
body
	include forms/header.jade
	+editForm(album.id, album.title, album.description, photos)