doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel='stylesheet', href='/css/bootstrap.css', type='text/css', media='screen')
	link(rel='stylesheet', href='/css/enrollee-reviews.css', type='text/css', media='screen')
	link(rel='stylesheet', href='/css/enrollee.css', type='text/css', media='screen')
	script(src='/js/bootstrap.js')
	
	title Абитуриентам
	include general-includes.jade

body
	include forms/header.jade
	include forms/enrollee_mixin.jade

	div.container
		ul#myTab.nav.nav-tabs
			li.active
				a(href='#home', data-toggle='tab') Основная информация
			li
				a(href='#profile', data-toggle='tab') Отзывы от выпускников
		.tab-content
			#home.tab-pane.active
				include forms/applicants/enrollee.jade
			#profile.tab-pane
						div.reviews-container
							- name = "Сергей Корсаков";
							- placeOfWork = "Яндекс, Москва, менеджер проектов в отделе контент-системы";
							- link = "/img/reviwes-page-photo/SergKorsakov.jpg";
							- citation = "\"Матфак научил меня быть антишестерёнкой и уметь браться за любые задачи и проекты\"";
							- width = "60%"
							+enrollee-page-add-reviews(name, placeOfWork, link, citation, width);					
							
							div.history-container
								h3 Ольга Кукина
								h5 Cеллинговое агентство при ВГТРК, Москва, бизнес-аналитик
								img(src='/img/reviwes-page-photo/OlyaKukina.jpg',width='60%', alt='Ольга Кукина')
								.caption
									p
									h4 «Нас учили разбираться в том, что ты делаешь, а не просто зубрить и заучивать»
									p
									div.buttoon
																							
							div.history-container
								h3 Николай Косарев
								h5 Quintiq, Голландия, разработчик и аналитик
								img(src='/img/reviwes-page-photo/NickKorsakov.jpg',width='60%', alt='Николай Косарев')
								.caption
									p 
									h4 «Математика идеальна для обучения критическому мышлению и анализу»
									p

										a(onclick='myFunction()') продлжение...
										script.
											function myFunction()
											{													
												alert("трудно.")
												
											}	

							div.history-container
								
										h3 Николай Косарев
										h5 Quintiq, Голландия, разработчик и аналитик
										img(src='/img/reviwes-page-photo/NickKorsakov.jpg',width='60%', alt='Николай Косарев')
										.caption
											p 
											h4 «Математика идеальна для обучения критическому мышлению и анализу»
											p
												
							div.history-container
								h3 Сергей Корcаков
								h5 "Яндекс", Москва, менеджер проектов в отделе контент-системы
								img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='60%', alt='aСергей Корсаков')
								.caption
									p 
									h4 «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»
									p
											
							
							
							div.history-container
								h3 Ольга Кукина
								h5 Cеллинговое агентство при ВГТРК, Москва, бизнес-аналитик
								img(src='/img/reviwes-page-photo/OlyaKukina.jpg',width='60%', alt='Ольга Кукина')
								.caption
									p 
									div.citation_style
										«Нас учили разбираться в том, что ты делаешь, а не просто зубрить и заучивать»
									p
												
							div.history-container
								h3 Ольга Кукина
								h5 Cеллинговое агентство при ВГТРК, Москва, бизнес-аналитик
								img(src='/img/reviwes-page-photo/OlyaKukina.jpg',width='60%', alt='Ольга Кукина')
								.caption
									p 
									h4 «Нас учили разбираться в том, что ты делаешь, а не просто зубрить и заучивать»
									p

							div.history-container
								h3 Сергей Корcаков
								h5 "Яндекс", Москва, менеджер проектов в отделе контент-системы
								img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='60%', alt='aСергей Корсаков')
								.caption
									p 
									h4 «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»
									p

							div.history-container
								h3 Сергей Корcаков
								h5 "Яндекс", Москва, менеджер проектов в отделе контент-системы
								img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='60%', alt='aСергей Корсаков')
								.caption
									p 
									h4 «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»
									p

							div.history-container
								h3 Ольга Кукина
								h5 Cеллинговое агентство при ВГТРК, Москва, бизнес-аналитик
								img(src='/img/reviwes-page-photo/OlyaKukina.jpg',width='60%', alt='Ольга Кукина')
								.caption
									p 
									h4 «Нас учили разбираться в том, что ты делаешь, а не просто зубрить и заучивать»
									p

							div.history-container
								h3 Николай Косарев
								h5 Quintiq, Голландия, разработчик и аналитик
								img(src='/img/reviwes-page-photo/NickKorsakov.jpg',width='60%', alt='Николай Косарев')
								.caption
									p 
									h4 «Математика идеальна для обучения критическому мышлению и анализу»
									p