doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")

	title Абитуриентам
	include general-includes.jade
	link(rel='stylesheet', href='/css/enrollee-reviews.css', type='text/css', media='screen')
	link(rel='stylesheet', href='/css/enrollee.css', type='text/css', media='screen')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
body
	include forms/header.jade
