doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")

	title Абитуриентам
	include general-includes.jade
	link(rel='stylesheet', href='/css/enrollee-reviews.css', type='text/css', media='screen')
	link(rel='stylesheet', href='/css/enrollee.css', type='text/css', media='screen')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	// 33 KB
	// fotorama.css & fotorama.js.
	link(href='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css', rel='stylesheet')
	// 3 KB
	script(src='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js')
	// 16 KB

body
	include forms/header.jade
	.fotorama(data-width='100%', data-height='340px', data-fit='cover', data-loop='true', data-autoplay='true',
		data-arrows='false', data-click='false')
		img(src='/img/main-page-slider-photo/1.jpg', data-caption='One')
		img(src='/img/main-page-slider-photo/2.jpg', data-caption='Two')
		img(src='/img/main-page-slider-photo/3.jpg', data-caption='Three')