doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		title Абитуриентам
		include general-includes.jade
		link(rel='stylesheet', href='/css/enrollee-reviews.css', type='text/css', media='screen')
		link(rel='stylesheet', href='/css/enrollee.css', type='text/css', media='screen')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		link(href='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css', rel='stylesheet')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js')
	body
		include forms/header.jade
		include forms/sliders/slider-under-header.jade
		include forms/content-slider.jade
		div.tabs
			div.tab-container.tab-container-titles
				+add-title-simple-part("Прикладная математика и информатика")
				p.tab-title-delimiter
				p.tab-title-clarification.tab-title-text ИСТОРИИ ВЫПУСКНИКОВ
				- miniTitle = "Яндекс, Москва, менеджер проектов";
				- text = "Матфак научил меня быть антишестерёнкой и уметь браться за любые задачи и проекты."
				+add-reviews-link("Сергей Корсаков", miniTitle, "/img/reviwes-page-photo/SergKorsakov.jpg", text)

				- miniTitle = "ВГТРК, Москва, бизнес-аналитик";
				- text = "Нас учили разбираться в том, что ты делаешь, а не просто зубрить и заучивать."
				+add-reviews-link("Ольга Кукина", miniTitle, "/img/reviwes-page-photo/OlyaKukina.jpg", text)
				p.tab-title-delimiter
				p.tab-title-clarification.tab-title-text ПАРТНЕРЫ И РАБОТОДАТЕЛИ
				+add-partner-link("/img/main-page-slider-photo/logo.png")
				+add-partner-link("/img/main-page-slider-photo/Luxoft.png")
			div.tab-container.tab-container-content	
				- content1 = "<h1 class='center'>Прикладная математика и информатика</h1> <text class='enrollee-element'> Формы обучения: очная 4 года. Программа направлена на подготовку специалистов, обладающих глубокими теоретическими знаниями в области информационных технологий и математических методов и владеющих практическими навыками решения прикладных задач. </text> <table class='enrollee-tab-container'> <tr> <td class='enrollee-tab-element'> <h3 class='center'>Экзамены (ЕГЭ):</h3> <ul class='enrollee-list-container center'> <li>математика</li> <li>информатика</li> <li>русский язык</li> </ul> </td> <td class='center'> <a>Документы, регламентирующие приём на бакалавриат</a></td> </tr> </table> <div class='enrollee-element'> <h3>Выпускники готовы решать следующие профессиональные задачи:</h3> <ul> <li>применение наукоемких технологий и пакетов программ для решения прикладных</li> <li>задач в области физики, химии, биологии, экономики, медицины, экологии</li> <li>исследование и разработка математических моделей, алгоритмов, методов, программного обеспечения, инструментальных средств по тематике проводимых научно-исследовательских проектов</li> <li>исследование автоматизированных систем и средств обработки информации, средств администрирования и методов управления безопасностью компьютерных сетей</li> <li>разработка программного и информационного обеспечения компьютерных сетей, автоматизированных систем вычислительных комплексов, сервисов, операционных систем и распределенных баз данных</li> <li>разработка и исследование алгоритмов, вычислительных моделей и моделей данных для реализации элементов новых (или известных) сервисов систем информационных технологий</li> <li>разработка архитектуры, алгоритмических и программных решений системного и прикладного программного обеспечения</li> </ul> </div> <div class='enrollee-element'> <h3>Выпускники работают:</h3> <ul> <li>администраторами и аналитиками баз данных</li> <li>инженерами</li> <li>консультантами</li> <li>логистами</li> <li>научными сотрудниками</li> <li>программистами</li> <li>разработчиками приложений</li> <li>сетевыми администраторами</li> <li>системными аналитиками</li> <li>специалистами по тестированию и верификации программного обеспечения, и др.</li> </ul> </div> <div class='enrollee-element'> <h3>Профильные предметы:</h3> <ol> <li>Дифференциальные уравнения</li> <li>Теория вероятностей и математическая статистика</li> <li>Теория игр и исследование операций</li> <li>Теория алгоритмов и сложности вычислений</li> <li>Языки и методы программирования</li> <li>Архитектура электронно-вычислительных машин, сети и ассемблеры</li> <li>Базы данных</li> </ol> </div> <div class='enrollee-element'> </div> <table class='enrollee-tab-container'> <tr> <td class='enrollee-tab-element'> <h3 class='center'>Специальные дисциплины, профиль «Прикладная математика»:</h3> <ul class='enrollee-list-container center'> <li>Методы вычислений</li> <li>Теоретическая механика</li> <li>Уравнения математической физики</li> <li>Физика</li> </ul> </td> <td class='enrollee-tab-element'> <h3 class='center'>Специальные дисциплины, профиль «Программирование и информационные технологии»:</h3> <ul class='enrollee-list-container center'> <li>Web-программирование</li> <li>Сети и системы телекоммуникаций</li> <li>Методы трансляции</li> <li>Операционные системы</li> <li>Теория кодирования</li> <li>Технологии разработки программного обеспечения</li> </ul> </td> </tr> </table> <div class='enrollee-element'> <h3>Места трудоустройства:</h3> <ul> <li>IT-компании</li> <li>банковская система</li> <li>страховые компании</li> <li>научно-исследовательские организации в России и за рубежом</li> <li>оборонные предприятия</li> <li>информационно-аналитические отделы коммерческих и государственных учреждений</li> <li>консалтинговые и консультационные центры</li> <li>учебные заведения.</li> </ul> </div>"
				+add-content-part(content1)
				- content2 ="<div class='contacts_tabs'><p class='head'>Приёмная комиссия ОмГУ им Ф. М. Достоевского</p><p class='staff'> Адрес: </p><p> г. Омск, пр. Мира 55, второй корпус ОмГУ, каб.119</p><p class='staff'>Телефон: </p><p>(3812)22-97-72</p><p class='staff'> Часы работы: </p><p> с 9.00 до 17.00(кроме субботы и воскресенья); обед 12:30 - 13:00</p><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1923.0206290515075!2d73.26555496578854!3d55.02797387621102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTXCsDAxJzQwLjciTiA3M8KwMTUnNTQuNCJF!5e0!3m2!1sru!2sru!4v1439890001822' width='99%' height='450' frameborder='0' style='border:0' allowfullscreen></iframe></div>"
				+add-content-part(content2)
				- content3 = "<div>Профориентационная школа Института Математики и Информационных технологий, она же четверговая математическая школа (ЧМШ), для ребят 6-11 классов по направлениям Математика и Информатика. чебный год состоит из двух семестров и длится с октября по май. Обучение платное. Организационное собрание проводится в сентябре. Занятия начинаются с 1 октября. анятия в старших классах проводят преподаватели ОмГУ. Учебные программы уделяют особое внимание Единому государственному экзамену (11 класс) и Государственной итоговой аттестации (9 класс). ополнительную информацию можно узнать тут: Вконтакте Сайт ОмГУ Записаться в Четверговую математическую школу можно по адресу: Мира, 55а, 1 корпус ОмГУ, ауд. 128 или по телефонам: 22-56-96, 26-97-73, 8-913-966-7651.</div>"
				+add-content-part(content3)
				- content4 = "<div>Подготовительные курсы для учеников младших и старших классов. Подробная информация о подготовительных курсах на сайте ОЦ 'Перспектива'.</div>"
				+add-content-part(content4)
				- content5 = "<div>Ведется набор слушателей на подготовительные курсы для учащихся 9, 10 и 11 классов по подготовке к профильным предметам, а так же ГИА и ЕГЭ. Занятия проводят опытные преподаватели ОмГУ. Подробная информация о подготовительных курсах на сайте Центра довузовской подготовки и профориентации. Записаться можно по адресу: пр. Мира 55, 2 корпус ОмГУ, павильон ЦДПП ОмГУ. Телефоны для справок: 26-97-99, 26-97-65</div>"
				+add-content-part(content5)
			//- div.containerv
			//- 	include forms/applicants/enrollee.jade
		include forms/footer.jade