doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Галерея - ОмГУ
	include general-includes.jade
	link(rel='stylesheet', href='/css/gallery.css', type='text/css', media='screen')
body
	include forms/header.jade
	div.container.gallery-container
		include forms/page-gallery/gallery-page-albums.jade
		each album in albums
			+gallery-page-albums(album)
		//- h2 Фотоальбомы Института Математики и Информационных Технологий
		//- include forms/page-gallery/gallery-page-albums.jade
		//- each album in albums
		//- 	+gallery-page-albums(album)

