doctype html
head
	meta(charset='UTF-8')
	title Главная - ИМИТ
	link(rel='stylesheet', href='/css/main-page/main-page.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css')
	link(rel='stylesheet', href='/css/main-page/liquid-slider.css')
	include general-includes.jade
body
	include forms/header.jade
	div.content
		div.all-news
			div.news
				a(href='#slide-1', onclick='api2.setNextPanel(0);api2.updateClass($(this))')
					h4 Институт математики и иформационных технологий
					p.
						Хороший факультет, не пожалеешь
			div.news
				a(href='#slide-2', onclick='api2.setNextPanel(1);api2.updateClass($(this))')
					h4 Заголовок новости2
					p.
						Текст новости
						Текст новости
						Текст новости
						Текст новости
			div.news
				a(href='#slide-3', onclick='api2.setNextPanel(2);api2.updateClass($(this))')
					h4 Заголовок новости3
					p.
						Текст новости
						Текст новости
						Текст новости
						Текст новости
			div.news
				a(href='#slide-4', onclick='api2.setNextPanel(3);api2.updateClass($(this))')
					h4 Заголовок новости4
					p.
						Текст новости
						Текст новости
						Текст новости
						Текст новости
			div.news
				a(href='#slide-5', onclick='api2.setNextPanel(4);api2.updateClass($(this))')
					h4 Заголовок новости5
					p.
						Текст новости
						Текст новости
						Текст новости
						Текст новости
		div.main-info
			#main-info-slider.liquid-slider
				div
					h4 ОмГУ им. Ф. М. Достоевского
					h1 Институт математики и иформационных технологий
					p.
						Хороший факультет, не пожалеешь
				div
					h2 Заголовок 2й новости
					p
					| Proin nec turpis eget dolor dictum lacinia. Nullam nunc magna, tincidunt eu porta in, faucibus sed magna. Suspendisse laoreet ornare ullamcorper. Nulla in tortor nibh. Pellentesque sed est vitae odio vestibulum aliquet in nec leo.
				div
					h2 Заголовок 3й новости
					p
					| Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
				div
					h2 Заголовок 4й новости
					p
					| Proin nec dolor dictum lacinia. Nullam nunc magna, tincidunt eu porta in, faucibus sed magna. Suspendisse laoreet ornare ullamcorper. Nulla in tortor nibh. Pellentesque sed est vitae odio vestibulum aliquet in nec leo.
				div
					h2 Заголовок 5й новости
					p.
						111111111111111111111111111111111111111111111111



			script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')
			script(src='/js/main-page/jquery.liquid-slider.min.js')
			script.
				$('#main-info-slider').liquidSlider({
				//	autoHeight:false,
				//	minHeight:300
				});
				var api2 = $.data( $('#main-info-slider')[0], 'liquidSlider')	
	div.slider-footer	
		#footer-slider.liquid-slider
			div.one-page-slider
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
			div.one-page-slider
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
			div.one-page-slider
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')	
			div.one-page-slider
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')

	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')
	script(src='/js/main-page/jquery.liquid-slider.min.js')
	script.
		$('#footer-slider').liquidSlider({
			autoSlide:true
			});	
	footer
		div.social-net
			a(href='http://vk.com/imit_omsu')
				img(src='/img/logo/vk.png')
			a(href='https://www.youtube.com/user/IMITOmsk')
				img(src='/img/logo/yt.png')
			a(href='http://imit_omsu.livejournal.com/')
				img(src='/img/logo/lj.png')
		div.copyright
			p(style='color:#ffffff') 2013 © ИМИТ ОмГУ им. Ф.М. Достоевского
		div.info-about-faculty
			p(style='color:#ffffff') Деканат:  64-42-38. Приемная комиссия:  22-97-72
