doctype html
head
	meta(charset='UTF-8')
	title Главная - ИМИТ
	include general-includes.jade
	link(rel='stylesheet', href='/css/main-page/main-page.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css')
	link(rel='stylesheet', href='/css/main-page/liquid-slider.css')
body
	include forms/header.jade
	include forms/main/main-page-info-block.jade

	div.header-slider-global
		#header-slider.liquid-slider
			div.one-page-slider-header
				.text-on-img
					img(src='/img/main-page-slider-photo/1.jpg')
					span Наш диплом котируется не только в России, но и за рубежом 1й слайд!
			div.one-page-slider-header
				.text-on-img
					img(src='/img/main-page-slider-photo/2.jpg')
					span Наш диплом котируется не только в России, но и за рубежом 2й слайд!	
			div.one-page-slider-header
				.text-on-img
					img(src='/img/main-page-slider-photo/4.jpg')
					span Наш диплом котируется не только в России, но и за рубежом 3й слайд!
	div.content
		div.all-news
			div.news
				.my-hover-link
					a(href='#slide-1', onclick='api2.setNextPanel(0);api2.updateClass($(this))')
						+main-page-info-block("Институт математики и иформационных технологий", "")

			each newer, i in news
				div.news
					a(href='#slide-#{i+2}', onclick='api2.setNextPanel(#{i+1});api2.updateClass($(this))')
						+main-page-info-block(newer.title, newer.miniContent)
		div.main-info
			#main-info-slider.liquid-slider
				div
					h4 ОмГУ им. Ф. М. Достоевского
					h1 Институт математики и иформационных технологий
					p.
						ИМИТ (ранее – математический факультет) для тех, кто отличает аксиому от теоремы, для тех, кто любит решать трудные задачи и не боится их.
					p.
						На нашем факультете прием абитуриентов и обучение студентов ведётся по направлению: «Прикладная математика и информатика».На младших курсах даётся фундаментальная подготовка, а на старших обучение ведётся по широкому спектру специализаций: системное программирование; математические методы защиты информации;  информационное обеспечение экономической деятельности и т.д..
					p.
						Выпускники факультета легко найдут себе работу по специальности не только в нашем регионе, но и за его пределами, в том числе в США, Великобритании, Канаде или Германии. Спасибо за это нужно сказать нашим бывшим сотрудникам, преподавателям, выпускникам, в свое время перебравшимися за рубеж, но поддерживающим связь с факультетом. Проблем с конвертацией диплома выпускники факультета не испытывают.
					p.
						Что немаловажно, у нас целых 90 бюджетных, то есть  совершенно бесплатных (для абитуриентов!) мест и целых 20 бюджетных мест в магистратуре.
					p.
						Поступай и учись бесплатно на лучшем факультете города!
					p.
						Деканат находится по адресу: Проспект Мира 55/а (первый корпус ОмГУ), каб. 217
					p.
						Телефоны:  (3812) 64-42-38, (3812) 22-56-96
					p.
						Часы работы: пн-пт с 9:00 до 17:00
				each newer in news
					div
						p!= newer.description

					
			div.slider-footer	
				#footer-slider.liquid-slider
					div.one-page-slider
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
					div.one-page-slider
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
					div.one-page-slider
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')	
					div.one-page-slider
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
						.one-page-slider-img
							img(src='/img/logo.png')
		
	footer
		div.copyright
			p(style='color:#ffffff') 2013 © ИМИТ ОмГУ им. Ф.М. Достоевского
		div.social-net
			a(href='http://vk.com/imit_omsu')
				img(src='/img/logo/vk.png')
			a(href='https://www.youtube.com/user/IMITOmsk')
				img(src='/img/logo/yt.png')
			a(href='http://imit_omsu.livejournal.com/')
				img(src='/img/logo/lj.png')

		div.info-about-faculty
			p(style='color:#ffffff') Деканат:  64-42-38. Приемная комиссия:  22-97-72


	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')
	script(src='/js/main-page/jquery.liquid-slider.min.js')
	script.
		$('#header-slider').liquidSlider({
			//- dynamicArrows:false,
			minHeight:30,
			autoSlide:true,
			autoHeight: false
		});	
		$('#main-info-slider').liquidSlider({
			//- slideEaseDuration: 9999,
			//continuous: false,
			minHeight:400,
			dynamicArrows:false,
			slideEaseFunction: false,
			dynamicArrowsGraphical:false
		//	autoHeight:false,
		//	minHeight:300
		});
		$('#footer-slider').liquidSlider({
			dynamicArrowsGraphical: false,
			hoverArrows: false,
			autoSlide:false
		});	
		var api2 = $.data( $('#main-info-slider')[0], 'liquidSlider')
