doctype html
head
	meta(charset='UTF-8')
	title Главная - ИМИТ
	include general-includes.jade
	link(rel='stylesheet', href='/css/main-page/main-page.css')
body
	include forms/header.jade
	include forms/content-slider.jade

	div.tabs
		div.tab-container.tab-container-titles
			+add-title-simple-part("Информация об ИМИТ")
			//-Разделитель 
			p.tab-title-delimiter
			//-Надпись 
			p.tab-title-clarification.tab-title-text НОВОСТИ
			//- Наполнение контентом новостей
			each tmp in content
				+add-title-part(tmp.creatingDate, tmp.title, tmp.miniContent)
			p.tab-title-delimiter
			p.tab-title-clarification.tab-title-text ГАЛЕРЕЯ
			//-Создание ссылки на альбом, первый параметр - id альбома
			div.tab-title-style
				- imgLinks = ["/img/gallery-page-gallery-photo/bigi/1.jpg", "/img/gallery-page-gallery-photo/bigi/4.jpg"];
				+add-gallery-link(1, "Imit movie awards", imgLinks)

		div.tab-container.tab-container-content
			//- Наполнение правой части вкладок
			+add-content-part("Это<p>Какая-то<p>Инфа<p>О факультете^^")
			each tmp in content
				+add-content-part(tmp.description)
						
	div.footer
		div.copyright
			p(style='color:#ffffff') 2015 © ИМИТ ОмГУ им. Ф.М. Достоевского
		div.social-net
			a(href='https://www.youtube.com/user/IMITOmsk')
				img(src='/img/logo/yt.png')
			a(href='http://imit_omsu.livejournal.com/')
				img(src='/img/logo/lj.png')
			a(href='http://vk.com/imit_omsu')
				img(src='/img/logo/vk.png')
		div.info-about-faculty
			.info-about-faculty-line
				img(src='/img/logo/map.png')
			.info-about-faculty-line
				p(style='color:#ffffff')   Пр.Мира 55
			br
			.info-img-and-text
				.info-about-faculty-line
					img(src='/img/logo/phone.png')
				.info-about-faculty-line
					p(style='color:#ffffff')   64-42-38, 22-56-96