doctype html
head
	meta(charset='UTF-8')
	title Главная - ИМИТ
	include general-includes.jade
	link(rel='stylesheet', href='/css/main-page/main-page.css')
body
	include forms/header.jade
	include forms/main/main-page-info-block.jade
	include forms/content-slider.jade
	
	div.header-slider-global
		#header-slider.liquid-slider
			div.one-page-slider-header
				.text-on-img
					img(src='/img/main-page-slider-photo/1.jpg')
					span Наш диплом котируется не только в России, но и за рубежом 1й слайд!
			div.one-page-slider-header
				.text-on-img
					img(src='/img/main-page-slider-photo/2.jpg')
					span Наш диплом котируется не только в России, но и за рубежом 2й слайд!	
			div.one-page-slider-header
				.text-on-img
					img(src='/img/main-page-slider-photo/4.jpg')
					span Наш диплом котируется не только в России, но и за рубежом 3й слайд!
	
	+add-content-slider(mainInfo, news, title)

					
	div.slider-footer	
		#footer-slider.liquid-slider
			div.one-page-slider
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
			div.one-page-slider
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
			div.one-page-slider
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')	
			div.one-page-slider
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
				.one-page-slider-img
					img(src='/img/logo.png')
		
	div.footer
		div.copyright
			p(style='color:#ffffff') 2015 © ИМИТ ОмГУ им. Ф.М. Достоевского
		div.social-net
			a(href='https://www.youtube.com/user/IMITOmsk')
				img(src='/img/logo/yt.png')
			a(href='http://imit_omsu.livejournal.com/')
				img(src='/img/logo/lj.png')
			a(href='http://vk.com/imit_omsu')
				img(src='/img/logo/vk.png')
		div.info-about-faculty
			.info-about-faculty-line
				img(src='/img/logo/yt.png') 
			p(style='color:#ffffff')   Пр.Мира 55/а
			.info-about-faculty-line
				img(src='/img/logo/yt.png') 
			p(style='color:#ffffff')   Пр.Мира 55/а	

	include forms/sliders/scriptForSliders.jade