doctype html
head
	meta(charset='UTF-8')
	title Главная - ИМИТ
	include general-includes.jade
	link(rel='stylesheet', href='/css/main-page/main-page.css')
body
	include forms/header.jade
	include forms/main/main-page-info-block.jade
	include forms/content-slider.jade
	
	include forms/sliders/slider-under-header.jade
	

	+add-tabs(content, mainInfo, title)

	div.content
		div.all-news
			a.news(href="/photo-from-albums?albumId=1")
				+main-page-info-block("Imit movie awards", "")
				img(style="max-width:40%; max-height:70px; margin: 0px 5%;", src="/img/gallery-page-gallery-photo/bigi/1.jpg")
				img(style="max-width:40%; max-height:70px; margin: 0px 5%;", src="/img/gallery-page-gallery-photo/bigi/4.jpg")
			div.news
		div.main-info
			include forms/sliders/slider-reviews.jade
			include forms/sliders/slider-partners.jade
						
	div.footer
		div.copyright
			p(style='color:#ffffff') 2015 © ИМИТ ОмГУ им. Ф.М. Достоевского
		div.social-net
			a(href='https://www.youtube.com/user/IMITOmsk')
				img(src='/img/logo/yt.png')
			a(href='http://imit_omsu.livejournal.com/')
				img(src='/img/logo/lj.png')
			a(href='http://vk.com/imit_omsu')
				img(src='/img/logo/vk.png')
		div.info-about-faculty
			.info-about-faculty-line
				img(src='/img/logo/map.png')
			.info-about-faculty-line
				p(style='color:#ffffff')   Пр.Мира 55
			br
			.info-img-and-text
				.info-about-faculty-line
					img(src='/img/logo/phone.png')
				.info-about-faculty-line
					p(style='color:#ffffff')   64-42-38, 22-56-96
	include forms/sliders/scriptForSliders.jade