doctype html
head
	meta(charset='UTF-8')
	title Главная - ИМИТ
	include general-includes.jade
	link(rel='stylesheet', href='/css/main-page/main-page.css')
body
	include forms/header.jade
	include forms/main/main-page-info-block.jade
	include forms/content-slider.jade
	
	include forms/sliders/slider-under-header.jade
	
	+add-content-slider(mainInfo, content, title)
				
	div.info-about-slider
		p Наши выпускники о факультете  
		a(href='#') Читать все истории
	div.slider-footer	
		.nav-padding-reviews1
			a(href='#slide', onclick="navSliderReviews.setNextPanel('left');navSliderReviews.updateClass($(this))")
				.nav-on-slider-reviews
		.nav-padding-reviews
			a(href='#slide', onclick="navSliderReviews.setNextPanel('right');navSliderReviews.updateClass($(this))")
				.nav-on-slider-reviews-R
		#reviews-slider.liquid-slider
			div.one-page-reviews-slider
				div.one-page-reviews-slider-img
					img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='100px', alt='Сергей Корсаков')
				div.one-page-reviews-slider-text
					h3 Сергей Корcаков
					h4 "Яндекс", Москва, менеджер проектов в отделе контент-системы
					h4 «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»
			div.one-page-reviews-slider
				.one-page-slider-footer
					img(src='/img/logo.png')
				.one-page-slider-footer
					img(src='/img/logo.png')
				.one-page-slider-footer
					img(src='/img/logo.png')
				.one-page-slider-footer
					img(src='/img/logo.png')


	div.info-about-slider
		p Наши партнеры и работадатели
		a(href='#') Все партнеры
	div.slider-footer
		a(href='#slide', onclick="navSliderFooter.setNextPanel('left');navSliderFooter.updateClass($(this))")
				.nav-on-slider-reviews
		.nav-padding-reviews
			a(href='#slide', onclick="navSliderFooter.setNextPanel('right');navSliderFooter.updateClass($(this))")
				.nav-on-slider-reviews-R
		#footer-slider.liquid-slider
			div.one-page-slider-footer
				.one-page-slider-footer-img
					img(src='/img/main-page-slider-photo/logo.png',width='139', height='60')
				.one-page-slider-footer-img
					img(src='/img/main-page-slider-photo/Luxoft.png',width='139', height='60')
				.one-page-slider-footer-img
					img(src='/img/main-page-slider-photo/onpz.jpg',width='139', height='60')
				.one-page-slider-footer-img
					img(src='/img/main-page-slider-photo/Un.png',width='139', height='60')
			div.one-page-slider
				.one-page-slider-footer-img
					img(src='/img/main-page-slider-photo/logo.png',width='139', height='60')
				.one-page-slider-footer-img
					img(src='/img/main-page-slider-photo/Luxoft.png',width='139', height='60')
				.one-page-slider-footer-img
					img(src='/img/main-page-slider-photo/onpz.jpg',width='139', height='60')
				.one-page-slider-footer-img
					img(src='/img/main-page-slider-photo/Un.png',width='139', height='60')

		
	div.footer
		div.copyright
			p(style='color:#ffffff') 2015 © ИМИТ ОмГУ им. Ф.М. Достоевского
		div.social-net
			a(href='https://www.youtube.com/user/IMITOmsk')
				img(src='/img/logo/yt.png')
			a(href='http://imit_omsu.livejournal.com/')
				img(src='/img/logo/lj.png')
			a(href='http://vk.com/imit_omsu')
				img(src='/img/logo/vk.png')
		div.info-about-faculty
			.info-about-faculty-line
				img(src='/img/logo/map.png')
			.info-about-faculty-line
				p(style='color:#ffffff')   Пр.Мира 55/а
			br
			.info-img-and-text
				.info-about-faculty-line
					img(src='/img/logo/phone.png')
				.info-about-faculty-line
					p(style='color:#ffffff')   64-42-38, 22-56-96
	include forms/sliders/scriptForSliders.jade