doctype html
html
	head
		meta(charset="utf-8")
		title= title
		include general-includes.jade
		link(rel='stylesheet', href='/css/main-page/main-page.css')
	body
		include forms/header.jade
		//- include form,s/sharing.jade
		include forms/main/main-page-info-block.jade
		include forms/content-slider.jade
		include forms/sliders/slider-under-header.jade

		+add-content-slider(mainInfo, content, title)
		
		if (root == true)
			include forms/redact-content.jade
			+redact-content(canCreate, createType, canRedact, canDelete, redactId, deleteId)
						
		
		include forms/sliders/scriptForSliders.jade