doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Новости - ОмГУ - Общие
		include general-includes.jade
	body
		include forms/header.jade
		div.container.center
			if (newsId == "0")
				ul.media-list
					each link, num in ["http://img.youtube.com/vi/F8-KMsFYhbY/0.jpg", "http://www.fitnessandfreebies.com/blog/wp-content/uploads/2011/09/Big_smile-300x300.png", "http://muslimvillage.com/wp-content/uploads/2011/04/Smile.jpg"]
						include forms/news/news-preview.jade
			else
				include forms/news/news-full-form.jade
				- var oldText = "Тут должно быть много текста, давайте почитаем детские рассуждения:) БЕССОНИЦА Это может быть у невесты. Лежит она ночью и думает:«Какое у меня завтраплатье будет? Красивое или нет? А главное – какой у меня завтра муж будет?» (Маша, 7 лет) БОРТПРОВОДНИЦА Она должна быть обязательно худой. А то, если она будет толстая, оназастрянет между рядами. Придется пилоту выходить и проталкивать ее попроходу. А это не очень удобно. (Даша, 7 лет)    ВЛЮБЛЁННЫЙ Вот, например, муж за женой ходит-ходит, глаз с нее не сводит целый день. Итогда она начинает догадываться, что он в нее, видимо, влюблен. (Марина, 8 лет)    ЖЕНА Это девушка, которая готовит мужчине обед, стирает белье и ухаживает за егоребенком. (Андрей, 4 года)    МУЖ С этим человеком сложно. Потому что с ним много хлопот… Расходыбольшие… Подвести тебя этот человек может: например, сначала он былкрасивый и хороший, а после того, как ты на нем женился, стал ругучим итолстым. (Кирилл, 7 лет)    ЖЕНИХ Так дяденьку называют до того, как он женится. А после того, как он женится,его уже называют другими разными словами… (Аня, 9 лет)    ИНТУИЦИЯ У кого она есть, тот к двери подходит и уже сразу чувствует, что за ней егоподжидают. И поэтому заранее достает пистолет, врывается и без лишних словначинает стрелять. (Федя, 8 лет)    КРУИЗ После него мужчинам и женщинам часто приходится жениться. (Лена, 7 лет)    МАНЕКЕНЩИЦА Профессия тяжелая, потому что нужно все время сидеть на диете и быстроснимать с себя одежду. (Ира Мазунова, 9 лет)    ПОЭТ Приходит к нему муза, а потом опять уходит. И он наполовину рад, анаполовину расстроен. Рад – потому что она приходила, а расстроен, потомучто теперь целый год ждать, когда снова придет (Женя Новиков, 9 лет)    ПСЕВДОНИМ Это артисты придумывают себе какое-нибудь красивое имя, чтобы в программкахписать. А у самих – некрасивое. Бывает и у писателей: они сочиняюткакие-нибудь стихи, а имя напишут другого писателя. (Женя Пак, 7 лет)    СТИРАЛЬНЫЙ ПОРОШОК Обычно это насыпают в стиральную машину. А вот что будет, если его насыпатьв суп, я не знаю. Потому что, еще не пробовала… (Даша Ушакова, 8 лет)    СЧАСТЬЕ У детей этого половина на половину. Потому что мама то ругает, то мороженоепокупает. (Зульфия Хакимова, 8 лет)    ТЕЛЕСЕРИАЛ Это больше всего нравится женщинам, потому что там всякие захватывающиесобытия происходят. Мужчин, например, убивают по нескольку штук сразу. Оченьзахватывающе! (Арина, 7 лет)    ХВОСТ Он приделан к зверям сзади. Например, корова кончается, и начинается он. (Оля Лучкова, 4 года)    ШЕРСТЬ У рыб этого не может быть. Потому что если они ею покроются, то им будеточень жарко под водой плавать. (Юля Лебедева, 8 лет)    Кесарево сечение значит когда ребенка вырезают через запасной выход. Мартина6 лет Мой папа говорит что моя мама без сознания когда она покупает одежду. Марион 6 лет.";
				+news-full-form("http://img.youtube.com/vi/F8-KMsFYhbY/0.jpg", "Это какой-то заголовок новости", "какой-то маленький текст")