doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Новости - ОмГУ - Общие
		include general-includes.jade
		link(rel='stylesheet', href='/css/gallery.css')
	body
		include forms/header.jade
		div.container.center
			if (do == "id")
				include forms/news/news-full-form.jade
				+news-full-form(title, description)
			else
				include forms/news/news-preview.jade
				each id, i in ids
					+news-preview-form(img_links[i], id, titles[i], dates[i])
