doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Партнеры - ОмГУ
	include general-includes.jade
	link(rel='stylesheet', href='/css/gallery.css', type='text/css', media='screen')
body
	include forms/header.jade
	include forms/lost.jade
	+lost()