doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Магистрантам
	link(rel='stylesheet', href='/css/enrollee.css', type='text/css', media='screen')
	link(rel='shortcut icon', href='/img/mini-logo-imit.png', type='image/png')
	include general-includes.jade
body
	include forms/header.jade
	include forms/sliders/slider-under-header.jade
	include forms/content-slider.jade
	div.tabs
		div.tab-container.tab-container-titles
			+add-title-simple-part("Прикладная математика и информатика")
			p.tab-title-delimiter
			p.tab-title-clarification.tab-title-text ИСТОРИИ ВЫПУСКНИКОВ
			- miniTitle = "Яндекс, Москва, менеджер проектов";
			- text = "Матфак научил меня быть антишестерёнкой и уметь браться за любые задачи и проекты."
			+add-reviews-link("Сергей Корсаков", miniTitle, "/img/reviwes-page-photo/SergKorsakov.jpg", text)

			- miniTitle = "ВГТРК, Москва, бизнес-аналитик";
			- text = "Нас учили разбираться в том, что ты делаешь, а не просто зубрить и заучивать."
			+add-reviews-link("Ольга Кукина", miniTitle, "/img/reviwes-page-photo/OlyaKukina.jpg", text)
			p.tab-title-delimiter
			p.tab-title-clarification.tab-title-text ПАРТНЕРЫ И РАБОТОДАТЕЛИ
			+add-partner-link("/img/main-page-slider-photo/logo.png")
			+add-partner-link("/img/main-page-slider-photo/Luxoft.png")
		div.tab-container.tab-container-content	
			- content1 = "<h1 class='center'>Прикладная математика и информатика</h1> <table class='enrollee-tab-container'> <tr> <td class='enrollee-tab-element'> <h3 class='center'>Программы:</h3> <ul class='enrollee-list-container center'> <li>Исследование операций и системный анализ </li> <li>Математическое моделирование</li> <li>Программирование и информационные технологии</li> </ul> </td> <td class='enrollee-tab-element'> <h3 class='center'>Экзамен:</h3> <ul class='enrollee-list-container center'> <li>Прикладная математика и информатика (собеседование)</li> </ul> </td> </tr> </table> <p>Имеется 20 бюджетных мест для подготовки магистров</p><a>Документы регламентирующие прием в магистратуру </a> <div class='enrollee-element'> <h3>Магистр по направлению подготовки «Прикладная математика и информатика» готов решать следующие профессиональные задачи:</h3> <ul> <li>применение наукоемких технологий и пакетов программ для решения прикладных задач в области физики химии биологии экономики медицины экологии;</li> <li>исследование и разработка математических моделей алгоритмов методов программного обеспечения инструментальных средств по тематике проводимых научно-исследовательских проектов;</li> <li>исследование автоматизированных систем и средств обработки информации средств администрирования и методов управления безопасностью компьютерных сетей;</li> <li>разработка программного и информационного обеспечения компьютерных сетей автоматизированных систем вычислительных комплексов сервисов операционных систем и распределенных баз данных;</li> <li>разработка и исследование алгоритмов вычислительных моделей и моделей данных для реализации элементов новых (или известных) сервисов систем информационных технологий;</li> <li>разработка архитектуры алгоритмических и программных решений системного и прикладного программного обеспечения;</li> <li>управление проектами планирование производственных процессов и ресурсов анализ рисков управление командой проекта.</li> </ul> </div> <div class='enrollee-element'> <h3>Магистры по направлению «Прикладная математика и информатика» работают:</h3> <ul> <li>администраторами и аналитиками баз данных</li> <li>инженерами</li> <li>логистами</li> <li>научными сотрудниками</li> <li>преподавателями</li> <li>программистами</li> <li>разработчиками приложений</li> <li>сетевыми администраторами</li> <li>системными аналитиками</li> <li>специалистами в сфере систем управления предприятием</li> <li>экспертами и др.</li> </ul> </div> <div class='enrollee-element'> <h2>Учебный план</h2> </div> <div class='enrollee-element'> <h3>Общие дисциплины: </h3> <ul> <li>Современные проблемы прикладной математики и информатики </li> <li>История и методология математики и информатики </li> <li>Иностранный язык </li> <li>Современная философия и методология науки </li> <li>Технологии интернет </li> <li>Криптография </li> <li>Математические основы теории систем </li> <li>Распознавание образов </li> <li>Менеджмент</li> <li>Информационные технологии управления</li> </ul> </div> <div class='enrollee-element'> <h3>Специальные дисциплины программы «Исследование операций и системный анализ»:</h3> <ul> <li>Целочисленное программирование</li> <li>Некооперативные игры</li> <li>Кооперативные игры</li> <li>Календарное планирование</li> <li>Задачи оптимального размещения</li> <li>Эволюционные алгоритмы</li> <li>Математические модели риска</li> <li>Математические модели экономики</li> <li>Методы прикладной статистики</li> <li>Параллельное программирование </li> <li>Интеллектуальные системы</li> </ul> </div> <div class='enrollee-element'> <h3>Специальные дисциплины программы «Математическое моделирование»:</h3> <ul> <li>Прикладная гидроаэромеханика, </li> <li>Вычислительный эксперимент в математической физике, </li> <li>Математические модели биологических сообществ, </li> <li>Многомерные статистические методы и временные ряды, </li> <li>Метод Монте-Карло в задачах математической физики, </li> <li>Численные методы решения задач с пограничным слоем, </li> <li>Математические модели риска, </li> <li>Математические модели экономики, </li> <li>Методы прикладной статистики,</li> <li>Параллельное программирование, </li> <li>Интеллектуальные системы.</li> </ul> </div> <div class='enrollee-element'> <h3>Специальные дисциплины программы «Программирование и информационные технологии»:</h3> <ul> <li>Операционные системы, </li> <li>Хранение и обработка данных, </li> <li>Технологии программирования,</li> <li>Технологии разработки программного обеспечения, </li> <li>Языки и методы программирования.</li> </ul> </div>"
			+add-content-part(content1)
		//- div.containerv
		//- 	include forms/applicants/enrollee.jade
	include forms/footer.jade