doctype html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	include general-includes.jade
	include uploadImage.jade
	link(rel='stylesheet', href='/css/images-upload.css', type='text/css', media='screen')
body
	include forms/header
	+upload-photo-form()
	if (paths != null)
		for path in paths
			+add-uploaded-img(path)
