mixin upload-photo-form()
	form(method="post", enctype="multipart/form-data")
		input(type="file", name="files", multiple='multiple', accept="image/jpeg,image/png,image/gif")
		p
		input(type="submit", value="Сохранить")

mixin add-uploaded-img(path)
	div.images-uploaded-form
		p= path
		img.images-uploaded-img(src="#{path}")
		p