link(rel='stylesheet', href='/css/main-page/main-page.css')
div.info-about-slider
	p Наши выпускники о факультете  
	a(href='#') Читать все истории
div.slider-footer	
	.nav-padding-reviews1
		a(href='#slide', onclick="navSliderReviews.setNextPanel('left');navSliderReviews.updateClass($(this))")
			.nav-on-slider-reviews
	.nav-padding-reviews
		a(href='#slide', onclick="navSliderReviews.setNextPanel('right');navSliderReviews.updateClass($(this))")
			.nav-on-slider-reviews-R
	#reviews-slider.liquid-slider
		div.one-page-reviews-slider
			.one-page-reviews-slider-img
				img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='100px', alt='Сергей Корсаков')
			.one-page-reviews-slider-text
				h3 Сергей Корcаков
				h4 "Яндекс", Москва, менеджер проектов в отделе контент-системы
				h4 «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»
		div.one-page-reviews-slider
			.one-page-reviews-slider-img
				img(src='/img/reviwes-page-photo/SergKorsakov.jpg',width='100px', alt='Сергей Корсаков')
			.one-page-reviews-slider-text
				h3 Сергей Корcаков
				h4 "Яндекс", Москва, менеджер проектов в отделе контент-системы
				h4 «Матфак научил меня быть "антишестерёнкой" и уметь браться за любые задачи и проекты»