div.info-about-slider
	p Наши партнеры и работодатели
	a(href='/partners') Все партнеры
.fotorama(data-width='100%', data-height='60px', data-loop='true',
	data-arrows='true', data-click='false', data-nav='false')(style='padding-bottom:2%;')
	div(style='text-align: center; display:inline-block; width:100%')
		.one-page-slider-footer-img(style='width:32%; display:inline-block;')
			img(src='/img/main-page-slider-photo/logo.png',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/Luxoft.png',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/onpz.jpg',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/Un.png',width='78', height='60')
	div(style='text-align: center; display:inline-block; width:100%')
		.one-page-slider-footer-img(style='width:32%; display:inline-block;')
			img(src='/img/main-page-slider-photo/logo.png',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/Luxoft.png',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/onpz.jpg',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/Un.png',width='78', height='60')
	div(style='text-align: center; display:inline-block; width:100%')
		.one-page-slider-footer-img(style='width:32%; display:inline-block;')
			img(src='/img/main-page-slider-photo/logo.png',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/Luxoft.png',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/onpz.jpg',width='139', height='60')
		.one-page-slider-footer-img(style='width:22%; display:inline-block;')
			img(src='/img/main-page-slider-photo/Un.png',width='78', height='60')