link(rel='stylesheet', href='/css/main-page/main-page.css')
div.info-about-slider
	p Наши партнеры и работадатели
	a(href='#') Все партнеры
div.slider-footer
	a(href='#slide-1', onclick="navSliderFooter.setNextPanel('left');navSliderFooter.updateClass($(this))")
			.nav-on-slider-reviews
	.nav-padding-reviews
		a(href='#slide-2', onclick="navSliderFooter.setNextPanel('right');navSliderFooter.updateClass($(this))")
			.nav-on-slider-reviews-R
#footer-slider.liquid-slider
	div.one-page-slider-footer
		.one-page-slider-footer-img
			img(src='/img/main-page-slider-photo/logo.png',width='139', height='60')
		.one-page-slider-footer-img
			img(src='/img/main-page-slider-photo/Luxoft.png',width='139', height='60')
		.one-page-slider-footer-img
			img(src='/img/main-page-slider-photo/onpz.jpg',width='139', height='60')
		.one-page-slider-footer-img
			img(src='/img/main-page-slider-photo/Un.png',width='78', height='60')
	div.one-page-slider
		.one-page-slider-footer-img
			img(src='/img/main-page-slider-photo/logo.png',width='139', height='60')
		.one-page-slider-footer-img
			img(src='/img/main-page-slider-photo/Luxoft.png',width='139', height='60')
		.one-page-slider-footer-img
			img(src='/img/main-page-slider-photo/onpz.jpg',width='139', height='60')
		.one-page-slider-footer-img
			img(src='/img/main-page-slider-photo/Un.png',width='78', height='60')
